
{% macro ligne_document_type_client(colonne) %}
    <tr class="row-colonne even pointer table-light">
        <td  width="80%" class="p-2">
          
            <div style="display:no " class="field-matiere">{{ form_widget(colonne.libelle) }}</div>
        </td>

        
    
        <td  width="20%"class="p-2 del-col " data-parent=".row-colonne">{# <a href="#" class="btn btn-danger btn-xs"><span class="bi bi-trash"></span></a> #}</td>
    </tr>
{% endmacro  %}


{% macro prototype_ligne_document_type_client(form) %}
    <div class="list-colonne"  data-prototype="{{ _self.ligne_document_type_client(form.documentTypeClients.vars.prototype)|e }}"></div>

      <br>
    <table class="table table-bordered table-custom">
        <thead class="thead-dark">
            <tr width="100%" style="border: 0px !important;">
                <th colspan="2" class="p-2 text-center text-bold text-uppercase">Liste des types de document </th>
            </tr>
            <tr>
                <th width="80%" class="p-2">Libelle</th>
               
                {# <th width="5%" class="p-2"></th> #}
               
                <th width="20%">
                    <button type="button" data-protoname="__name__" class="btn btn-default add_line btn-xs" id="add_ligne"
                        data-protoclass=".list-colonne" data-container=".column-container">
                        <i class="fa fa-plus"></i> Ajouter 
                    </button>
                </th>
            </tr>
        </thead>
        <tbody  class="column-container proto-container" data-childclass=""">
            {% for item in form.documentTypeClients %}
                {{ _self.ligne_document_type_client(item|e) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}