
{% macro ligne_accusereception(colonne) %}
    <tr class="row-colonne even pointer table-light">
  
          <td  class="p-2">
          
            <div class="field-matiere">{{ form_widget(colonne.fichier) }}</div>
        </td>
        
       
        <td class="p-2">
          
            <div style="display:no " class="field-matiere">
              {% if colonne.vars.value %}
              
            <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  colonne.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a>
             {% endif %}
            </div>
        </td>
        
    
        <td  width="10%"class="p-2 del-col " data-parent=".row-colonne">{# <a href="#" class="btn btn-danger btn-xs"><span class="bi bi-trash"></span></a> #}</td>
    </tr>
{% endmacro  %}


{% macro prototype_ligne_accusereception(form) %}
    <div class="list-colonne"  data-prototype="{{ _self.ligne_accusereception(form.fichierAccusseReceptions.vars.prototype)|e }}"></div>

      <br>
    <table class="table table-bordered table-custom">
        <thead class="thead-dark">
            <tr width="100%" style="border: 0px !important;">
                <th colspan="3" class="p-2 text-center text-bold text-uppercase">Ajouter un fichier  </th>
            </tr>
            <tr>
                <th width="80%" class="p-2">Fichier</th>
               
                <th width="5%" class="p-2"></th>
               
                <th colspan="2" width="20%" >
                    <button type="button" data-protoname="__name__" class="btn btn-default add_line btn-xs " id="add_ligne"
                        data-protoclass=".list-colonne" data-container=".column-container">
                        <i class="fa fa-plus"></i> Ajouter 
                    </button>
                </th>
            </tr>
        </thead>
        <tbody  class="column-container proto-container" data-childclass=""">
            {% for item in form.fichierAccusseReceptions %}
                {{ _self.ligne_accusereception(item|e) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}